body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.logo {
    float: left;
}

.logo img {
    max-height: 100px; /* Ajusta el tamaño del logo según sea necesario */
    border-radius: 20%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(7, auto); /* Una columna para cada elemento del menú */
    gap: 20px; /* Espacio entre columnas */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin-top: 30px; /* Espacio entre el menú y el contenido superior */
}
.cta-button {
    margin-top: 20px; /* Margen superior de 20px */
    margin-right: 20px; /* Margen derecho de 20px */
    text-align: right; /* Alinea el contenido a la derecha */
}

.phone-number {
    display: inline-block; /* Permite aplicar estilos de bloque */
    padding: 10px 20px; /* Ajusta el relleno para el tamaño del botón */
    border-radius: 20px; /* Borde redondeado */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.phone-number:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}
#about {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
}

.text {
    text-align: center;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
}

#about .text h1 {
    font-size: 3em; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto (puedes cambiarlo a tu gusto) */
    font-family: "Arial", sans-serif; /* Fuente del texto */
}

#about .text p {
    font-size: 1.5em; /* Tamaño de fuente grande */
    color: #666; /* Color del texto (puedes cambiarlo a tu gusto) */
    font-family: "Arial", sans-serif; /* Fuente del texto */
}
.carousel-container {
    overflow: hidden;
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    padding: 10px; /* Ajusta el padding según sea necesario */
    box-sizing: border-box;
    width: 100%;
    display: none; /* Inicialmente oculta todos los divs */
    opacity: 0;
    transition: opacity 0.5s ease; /* Agrega una transición suave de opacidad */
}
.slide.active {
    display: block; /* Muestra el div activo */
    opacity: 1; /* Cambia la opacidad a 1 para hacerlo visible */
}

.carousel img {
       width: 100%;
    height: auto;
}
.carousel .slide.active img {
    display: block; /* Muestra solo la imagen dentro del slide activo */
}
.horizontal-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}  
#SobreNosotros {
    display: flex;
    justify-content: flex-start;
    background-color: #333;
}
.contenedor-horizontal {
    display: flex;
    justify-content: space-between;
    max-width: 1000px; /* Puedes ajustar el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}
.contenedor-nosotros {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 80%;
    margin-left: 10%; /* Ajusta el margen izquierdo para centrar el contenido */
    padding: 20px; 
    background-color: #f2f2f2; /* Tonos de gris para el fondo */
    margin-top: 20px;
}
.columna {
    flex-basis: 50%; /* Cada columna ocupará el 50% del espacio disponible */
}

.texto {
    text-align: left; /* Alinea el texto justificado */
    padding-right: 20px; /* Añade padding a la derecha para dejar espacio entre los elementos */
    max-width: 500px; /* Establece un ancho máximo para el texto */
}

.img-nosotros img {
    max-width: 100%; /* Para asegurar que la imagen no exceda el ancho del contenedor */
    height: auto; /* Para mantener la proporción de la imagen */
}
#services {
    max-width: 80%;
    margin: 0 auto;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre filas */
}

.grid-item {
    flex-basis: calc(33.33% - 10px); /* Tamaño de cada elemento, restando el espacio entre ellos */
    background-color: #f2f2f2; /* Color de fondo de cada elemento */
    padding: 20px;
}

/* Estilo para los elementos de la segunda fila */
.grid-row:last-child .grid-item {
    background-color: #eaeaea; /* Cambia el color de fondo para diferenciar la segunda fila */
}
